<html>
<head>
<title>Basura Zero/admin/dia/alta</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav style= "background-color: #151515;border-radius: 5px;"class="container"><img src="logo.png" style="width:100px;height:80px;"></nav>
<br>
<div style= "background-color: #424242; border-radius: 5px;"class="container">
  <br>
  <div class="btn-group">
    <button type="button" class="btn btn-info">Administrador</button>
    <button type="button" class="btn btn-info">Dia</button>
</div>
<br>
<br>
</div>
<br>

<br>
<br>
<div style= "background-color: #BDBDBD; border-radius: 5px;"class="container">
<form class="container" role="form">
  <br>
  <div class="form-group">

        <label class="control-label col-xs-3">Dia:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" placeholder="dd" name="barrio">
        </div>
  

  </div>
  
 <div class="form-group">
        <label class="control-label col-xs-3"></label>
        <div class="col-xs-offset-3 col-xs-9">
            <input type="submit" class="btn btn-info" value="Agregar Dia">
        </div>
    </div>
</form>
</div>
</body>
</html>