<html>
<head>
<title>Basura Zero/admin/dia</title>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<nav style= "background-color: #151515;border-radius: 5px;"class="container"><img src="logo.png" style="width:100px;height:80px;"></nav>
<br>
<div style= "background-color: #424242; border-radius: 5px;"class="container">
  <br>
<button type="button" class="btn btn-info">Administrador</button>
<button type="button" class="btn btn-info">Dia</button>
<br>
<br>
</div>
<br>

<br>
<br>
<form class="form-inline" role="form">
  <div class="form-group">
    <label for="dia">Dia:</label>
    <input type="dia" class="form-control" placeholder="hh:mm" id="dia">
  </div>
  
  <button type="submit" class="btn btn-info">Submit</button>
</form>
<h2>Nota: El formato del dia debera ser en minusculas</h2>

</body>
</html>