<html>
<head>
	<title>Basura Zero/admin/inicio</title>
	  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<img src="logo.png" style="width:304px;height:228px;">
<br>
<button type="button" class="btn btn-primary btn-xs">Administrador</button>
<div class="container">

 
    <CENTER>
    <br>
    <br>
    <button type="button" class="btn btn-info btn-lg">USUARIOS</button>
    <BR>
    <br>
    <button type="button" class="btn btn-info btn-lg">HORARIOS</button>
	<br>
	<br>
	<button type="button" class="btn btn-info btn-lg">DIAS</button>
	<br>
	<br>
    <button type="button" class="btn btn-info btn-lg">BARRIOS</button>
	<br>
	<br>
    <button type="button" class="btn btn-info btn-lg">CALLES</button>
</CENTER>


  </div>
</body>
</html>